version: '3.8'

services:
  postgres:
    image: postgres:16 
    restart: always
    container_name: mypostgresDBContainer
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Strongpassword1234
      POSTGRES_DB: shopdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: Strongpassword1234
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: